<h2>Advertise your sales with Estates-to-Date.com!</h2>

<p>We offer several options for comapnies listing their sales and for individuals seeking to privately list a single sale. Select the option below that best describes you: </p>
<div class="row">
  <div class="col-md-6">
    <%= link_to new_estatesale_path do %>
    <div class="card h-100">
      <div class="card-block">
        <h3 class="card-title">I'm an individual hosting a sale.</h3>
      </div>
      <%= image_tag("individual_icon.png", class: "card-img-bottom") %>
    </div>
    <% end %>

  </div>
  <div class="col-md-6">
    <a href="#">

    <div class="card h-100">
      <div class="card-block">
        <h3 class="card-title">I'm a company that liquidates estates.</h3>

      </div>
       <%= image_tag("company_icon_2.png", class: "card-img-bottom") %>
    </div>
  </a>
  </div>
</div>
