<h2>Advertise your sales with Estates-to-Date.com!</h2>
<br>
<p class="lead">We offer several options for companies listing their sales and for individuals seeking to privately list a single sale. Select the option below that best describes you: </p>
<br>
<div class="row">
  <div class="col-md-6">
    <%= link_to new_estatesale_path do %>
    <div class="card card-inverse card-1">
      <%= image_tag("private_sale.png", class: "card-img") %>
      <div class="card-img-overlay">
        <h3 class="card-title">I'm an individual hosting a sale.</h3>
      </div>

    </div>
     </div>
    <% end %>


  <div class="col-md-6">
    <a href="#">
      <div class="card card-inverse card-2">
      <%= image_tag("company_sale.jpg", class: "card-img, company-image") %>
       <div class="card-img-overlay">
        <h3 class="card-title">I'm a company that hosts sales.</h3>

      </div>

    </div>
  </a>
  </div>
</div>
