/*
 *= require_self
 *= require fancybox
 *= require_tree .
 */



@import "bootstrap-sprockets";
@import "bootstrap";


html, body {
 margin: 0;
 padding: 0;

}

body {
  background: white;
  background:url("http://i.imgur.com/BaKvHel.jpg") center top no-repeat;
  /*overflow: auto;*/

  /*font-family: "Myriad Pro","Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-size: 14px;*/
  /*line-height: 18px;*/
  /*color: #333;*/
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
  /*text-align:center;*/
}

 /*MAIN CONTAINER*/
#main-container {
  height: 100%;
  /*min-height: 2000px; */  /*??*/
  max-width: 910px;
  margin: 0 auto;
  background: white;
  padding-top: 25px;
}

.jumbotron {
  height: 165px;
  background-image: url('http://i.imgur.com/9bv5xg0.png');
  max-width: 910px;
  margin: 0 auto;
  position: relative;
}

#logo {
  z-index: 10;
  max-width: 424px;
  position: absolute;
  top: 0;
  right: 125px;
}

.header-subtext {
  margin-left: 450px;
  margin-top: 40px;
  color: white;
}

.navbar {
  margin-bottom: 0;
}

#nav-bar, .navbar-collapse {
  max-width: 940px;
}

#right-nav {
  float: right;
  margin-right: 50px;
}

/* ESTATE SALE SHOW PAGE */
.favorites-container {
  height: 250px;
}

/*Google map inset: */
#map-canvas {
  border: 2px solid gray;
  height: 250px;
  width: 100%;
  /*position: relative;*/
  /*top: 50px;*/
}

.company-info {
  border: 2px solid gray;
}

.favorites-container {
  border: 2px solid gray;
  text-align: center;
}

#filled {
  visibility: hidden;
}


/*###################################*/

#sale-container {
  height: 100%;
}

.card {
  border: 2px solid black;
  text-align: center;
}

/*
Sign Up or Sign In Box - not in use now*/
/*#favorites-container {
  visibility: hidden;
  height: 80px;
  width: 275px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
}

#star-container {
  height: 80px;
  width: 275px;
  text-align: right;
}*/

/*.favorites {
  position: relative;
  top: 50px;
}*/




/*.nav {
  height: 37px;
  z-index: 10;
  text-align: center;
  top: 128px;
  right: 0;
  left: -42px;
  margin: 0 auto;
  position: absolute;
}

.nav a {
  color:gray;
  opacity:1;
  padding:10px 20px;
  display:inline-block;
  font-size:15px;
  width:138px;
  text-align:center;
}

.nav a:hover, .nav a.selected {
  text-decoration:none;
  background:#0A5D39;
  color:white;
}

.nav a {
  text-align: center;
  text-decoration: none;
  font-family: "Myriad Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

a, a:visited, a:active {
  text-decoration:none;
  color: gray;
}

a:hover {
  text-decoration:underline;
}



#filled  {
  visibility: hidden;
  color: yellow;
}

#head {
  z-index: 5;
}

.button {
  border-radius: 5px;
}
*/
