@import "bootstrap-sprockets";
@import "bootstrap";

/*  12 COLUMN : RESPONSIVE GRID SYSTEM
  DEVELOPER : DENIS LEBLANC
  URL : http://responsive.gs
  VERSION : 3.0
  LICENSE : GPL & MIT */

/*  SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html, body {
 margin: 0;
 padding: 0;
 height: 100%;

}

/*.debug {
  border: 1px solid red;
}*/

 /*MAIN CONTAINER*/

.container {
  max-width: 940px;
  margin: 0 auto;
  background: white;
  height: 100%;
}

.header {
/*  height:90px;*/
 /* background-image: url('http://i.imgur.com/9bv5xg0.png');*/
 position: relative;
}

.header, a {
  text-align: center;
  text-decoration: none;
  float: center;
  font-family: "Myriad Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.logo {
  margin-left: 85px;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 30px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

a, a:visited, a:active {
  text-decoration:none;
  color: gray;
 /* text-shadow:none;*/
}

a:hover {
  text-decoration:underline;
}

#filled  {
  visibility: hidden;
  color: yellow;
}

#head {
  z-index: 5;
}

.button {
  border-radius: 5px;
}

/*Google map inset: */
#map-canvas {
  border: 2px solid gray;
  height: 250px;
  width: 100%;
  position: relative;
  top: 50px;
}
/*
Sign Up or Sign In Box - not in use now*/
#favorites-container {
  visibility: hidden;
  height: 80px;
  width: 275px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
}

#star-container {
  height: 80px;
  width: 275px;
  text-align: right;
}

/*Table on home page: */
.sales-container {
  margin: 0 auto;
  width: 80%;
}

body {
  margin:0;
  padding:0;
  background:white;
  text-align:center;
  font-family: "Myriad Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  height:100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: black;
  background:url("http://i.imgur.com/BaKvHel.jpg") center top no-repeat;
}

.nav {
  height: 37px;
  z-index: 10;
  text-align: center;
  top: 128px;
  right: 0;
  left: -42px;
  margin: 0 auto;
  position: absolute;
}

.nav a {
  color:gray;
  opacity:1;
  padding:10px 20px;
  display:inline-block;
  font-size:15px;
  width:138px;
  text-align:center;
}

.nav a:hover, .nav a.selected {
  text-decoration:none;
  background:#0A5D39;
  color:white;
}

table {
  width: 800px;
}

td {
  text-align: left;
  padding: 5px;
}

tr.even {
  background-color: gray;
}

tr:hover {
  background-color: #c3e6e5;
}

.favorites {
  position: relative;
  top: 50px;
}

